.dark-bg-grad {
	background-color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222222)); 
	background-image: -webkit-linear-gradient(top, #666, #222222); 
	background-image:    -moz-linear-gradient(top, #666, #222222); 
	background-image:     -ms-linear-gradient(top, #666, #222222); 
	background-image:      -o-linear-gradient(top, #666, #222222); 
	background-image:         linear-gradient(top, #666, #222222);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#222222'); 
}

div.admin {
	display: none;
	position: absolute;
	height: 480px;
	width: 640px;
	left: 300px;
	top: 20px;
	border: solid 3px #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.8);
	-o-box-shadow: 0px 1px 1px rgba(0,0,0,.8);
	-ms-box-shadow: 0px 1px 1px rgba(0,0,0,.8);
}
div.admin textarea{
	width: 630px;
	height: 120px;
	margin: 5px;
	z-index: 10000;
	background: #111;
	color: #1f1;
}
div.admin_tools {
	position: fixed;
	top: 10px;
	left: 0px;
	text-align: left;
}
div.admin_tools>span {
	position: relative;
	left: 0px;
	padding: 6px;
	display: block;
	height: 20px;
	width: 150px;
	border: solid 3px #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.8);
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,.8);
	font-weight: bolder;
	margin-left: -5px;
	margin-top: 10px;
}
span.help {
	display: none;
}
div.admin input, div.admin select,div.admin label{
    margin: 5px;
	min-width: 170px;
	display : inline-block;
}
div.admin input[type=checkbox] {
	width: 100px;
}
span.tab {
	position: relative;
	top: -22px;
	border: solid 3px #fff;
	border-bottom: none;
	padding: 4px 10px ;
	margin-left: 5px;
	margin-right: 5px;
	color: #fff;
	text-shadow: 0px -1px 1px rgba(0,0,0,.8);
}
div.admin a {
	text-decoration: none;
	color: #fff;
}
div.admin div.tabcontent {
	display: none;
	height: 480px;
	overflow: auto;
	text-indent : 0px;
}
.tab_strip {
	height : 0px;
}
div.admin div.default {
	display : block;
}
div.secure table{
	color: white;
	width: 100%;
}
div.contained {
	background: #fff;
	color: #111;
	border-radius: 10px;
	padding:10px;
	margin: 10px;
	font-weight: normal;
}
.icon {
	display : inline-block;
	width : 16px;
	height : 16px;	
	background-repeat : no-repeat;
	text-indent : -999px;
}
.admin_tools .pages .icon{
	background-image : url('/icons/page.png');
}
.admin_tools .sections .icon {
	background-image : url('/icons/section.png');	
}
.admin_tools .contents .icon {
	background-image : url('/icons/content.png');
}
.admin_tools .addpage .icon {
	background-image : url('/icons/addpage.png');
}
.admin_tools .users .icon {
	background-image : url('/icons/user.png');
}
.admin_tools .images .icon {
	background-image : url('/icons/image.png');
}
.admin_tools .emails .icon {
	background-image : url('/icons/email.png');
}