<script src="/addons/tiny_mce/jquery.tinymce.js" type="text/javascript" ></script>
<script src="/js/tabs.js" type="text/javascript"></script>
<link href="/css/tabs.css" rel="stylesheet"/>
<div class='admin_tools'>
	<span class="admin_tab">
		Admin Page
		<div class="admin page_wrapper">
			<div class="tab_strip">
				<span class="data_tab tab">
					Data
				</span>
				<span class="look_tab tab">
					Looks
				</span>
				<span class="secure_tab tab">
					Security
				</span>
			</div>
			<div class="data tabcontent">
				{{ page_edit }}
			</div>
			<div class="look tabcontent">
				{{ theme_edit }}
			</div>
			<div class="secure tabcontent">
				<form action="/admin/edit/page/{{ page_key }}?return_url={{ path }}" method="POST">
					{{ permission_table }}
					<input type="submit" name="page.permissions.submit" value="Save Permissions"/>
				</form>
			</div>
		</div>
	</span>
	{% for section in sections %}
	<span class="admin_tab">
		{{ section.name }}
		<div class="admin section_theme_html">
			<form action="/admin/edit/theme/{{ section.theme_key }}.html?return_url={{ path }}" method="POST">
				<textarea name="edit_theme-html" id="section-edit_theme-html">{{ section.theme_html }}</textarea>
				<textarea name="edit_theme-css" id="section-edit_theme-css">{{ section.theme_css }}</textarea>
				<textarea name="edit_theme-js" id="section-edit_theme-js">{{ section.theme_js }}</textarea>
				<input type="submit" name="theme.submit" value="Save Changes"/>
			</form>
		</div>
	</span>
	{% for content in section.content %}
	<span class="admin_tab">
		{{ section.name }} Content
		<div class="admin content_edit">
			<div class="tab_strip">
				<span class="data_tab tab">List</span>
				<span class="look_tab tab">Edit</span>
				<span class="secure_tab tab">Add</span>
			</div>
			<div class="data tabcontent">
				{{ content.content_edit }}
			</div>
			<div class="look tabcontent">
				{{ content.content_form }}
			</div>
			<div class="secure tabcontent">
				{{ content.content_deepform }}
			</div>
		</div>
	</span>
	{% endfor %}
	{% endfor %}
	<!-- end foreach section -->
	<span class="admin_tab">
		Add New Page
		<div class="admin page.add">
			{{ page_form }}
		</div>
	</span>
	<span class="admin_tab">Users
		<div class="admin user_edit">
			<div class="tab_strip">
				<span class="data_tab tab">Data</span>
				<span class="look_tab tab">List</span>
				<span class="secure_tab tab">Me</span>
				<span class="import_tab tab">Import</span>
			</div>
			<div class="data tabcontent">
				{{ user_form }}
			</div>
			<div class="look tabcontent">
				{{ user_list }}
			</div>
			<div class="secure tabcontent">
				{{ user_edit_form }}
			</div>
			<div class='import tabcontent'>
				{{ user_import }}
			</div>
		</div>
	</span>
	<span class="admin_tab">
		Images
		<div class="admin image.add">
			<div class="tab_strip">
				<span class="data_tab tab">Add Image</span>
				<span class="look_tab tab">Use Image</span>
			</div>
			<div class="data tabcontent">
				<form action="/admin/add/image?return_url={{ path }}" enctype="form/multipart" method="POST">
					<label for="image.file">
						Image File: 
						<span class='help'>
							the image file to store and display.
						</span>
					</label>
					<input type="file" name="image.file" id="image.file" required />
					<label for="image.title">
						Image Title: 
						<span class='help'>
							the title that will be used when referring to the image in themes.
						</span>
					</label>
					<input type="text" name="image.title" id="image.title" />
					<label for="image.tags">
						Image Tags: 
						<span class='help'>
							the tags associated with this image.
						</span>
					</label>
					<input type="text" name="image.tags" id="image.tags" />
					<input type="submit" name="image.submit" id="image.submit" value="Upload Image"/>
				</form>
			</div>
			<div class="look tabcontent">
				{{ images }}
			</div>
		</div>
	</span>
	<span class="admin_tab">
		Email Blast
		<div class="admin email look">
			{{ email_blast }}
		</div>
	</span>
</div>